# Python
__pycache__/
*.pyc

# Virtual environment
venv/
ml service/venv/

# Dataset folders (IMPORTANT)
ml service/data/
ml service/indexes/
data/

# ZIP files
*.zip
project.zip

# Node
node_modules/

# Environment variables
.env